body {
    background-color: linen;
}
h1 {
text-align: center;
}
.mypainter{
    border-style: ridge;
    border-width: 10px;
    background: -webkit-linear-gradient(yellow,#e01111, yellow,#e01111);
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    height : 800px;
}
#mycanvas{
    border-style: double;
    border-width: thick;
    background-color : white;
    margin-top: 20px;
    margin-left: 80px;
    height:600px;
    width:1000px;
}
.btn{
    background-color : #eec12b;
    border :   2px thick transparent;
    color :white;
    text-align: left;
    text-decoration : none;
    display :inline-block;
    cursor: pointer;
    font-size: 16px;
    margin : 4px 2x;
    padding: 10px;
    border-radius: 40%;
}
.color {
    background-color: rgb(253, 189, 13) ;
    width: 45px;
    height: 30px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    cursor: pointer;
    border: 3px solid #5f5121 dashed;
    text-align: center;
    border-radius: 20%;
}
.font {
    background-color: rgba(5, 99, 52, 0.658) ;
    color :white;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 3px solid rgb(46, 6, 6) thin;
    text-align: center;
}
#colorselect
{
    background-color: red;
}

img{
    max-width: 100%;
    max-height: 100%;
}
